<style>
    #accordionExample {
        height: 65px;
    } 
    h2 {
        margin-left: 250px;
    }
    #showall{
        margin-top:-20px;
        margin-bottom:15px;
    }
</style>
<form id="search-form" method="POST" >
  <div align="center">
    <button id="showall" type="submit" class="btn btn-primary" name="showAllButton"><b>Show All</b></button>
  </div>
</form>
</style>
<div class="accordion" id="accordionExample">
<div class="card">
    <div class="card-header text-center">
    
    <h2>Data not found!<span style='font-size:50px;'>&#129488;</span></h2>   
    </div>
</div>
</div>
