{% extends "base.html" %} 
{% block title %}Home{% endblock %}
{% block content %}
<style>
    .index-circle {
      display: inline-block;
      width: 50px;
      height: 24px;
      line-height: 24px;
      text-align: center;
      border-radius: 50%;
      background-color: #353535;
      color: #fff;
      font-weight: bold;
  }
  .card-header {
    padding-top: 20px;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between;
  }
  .card-body {
    white-space: pre-wrap;
  }
  .card {
    background-color: #333;
    color: white;
    border-radius: 0px;
    width:75%;
    margin: -2px auto;
    border-color: #888;
    border-width: 2px 2px 2px 2px;
    border-style: solid;
    border-radius: 10px;
  }
  form {
    margin-top: 10px;
    background-color: #333;
    padding: 0px;
  }
  textarea.form-control {
    background-color: #333;
    color: white;
    width: 100%;
    margin: 0;
    padding: 20px;
    font-size: 17px;
    border: 3px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    height: 320px;
    resize: none;
    white-space: pre-wrap;

  }
  ul#notes button {
    border-width: 3.5px;
  }
  #note::placeholder {
    color: #999; /* Replace #999 with the desired color for the placeholder */
  }
  .form-check {
    padding-top: 7px;
  }
  input[type="date"] {
      font-size: 17px;
      padding: 5px;
      margin-top: 7px;
      margin-right:5px;
      margin-left: 5px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;
      width: 218px;
      font-weight: bold;
      background-color: #ebe2e2
  }
  
  #search-form,
  #showAllList {
    margin-top:5px;
    display: inline-block;
    margin-left: 12px;
  }
  #searchButtons{
    margin-left: 32%;
  }
  #searchButton{
    margin-top: -5px;
    margin-left: -2px;
  }
  #showall{
    margin-top:-5px;
  }
 
</style>
<form method="POST">
  <div class="card text-white bg-dark mb-3">
    <div class="card-header">
      <div align="left">
        <button name="uploadButton" type="submit" class="btn btn-secondary  btn-success" style="display: flex; justify-content: space-between;"><b>Upload</b></button>
      </div>
      
      <div style="font-weight: bold">
        <div class="d-flex justify-content-center w-100">
          <span class="navbar-text text-center" style="color: white; font-weight: bold;">
             <span id="current-time-home"></span>
          </span>
        </div>
      </div>
      <div class="form-check form-switch align-center">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="switchState" {{latest_switch_state}}>
        <label class="form-check-label" for="flexSwitchCheckChecked"><b>Append</b></label>
        <!-- <input type="hidden" name="note" id="note" value=""> Add a hidden input field to store the note -->
      </div>
    </div>
    <textarea name="note" id="note" class="form-control bg-dark text-white" style="border: none;" autofocus wrap="soft" placeholder="Start writing here..."></textarea>
  </div>
</form>
<div id="searchButtons">
  <form id="search-form" method="POST" >
    <div align="center">
      <input type="date" id="search" name="searchDate">
      <button id="searchButton" type="submit" class="btn btn-primary" name="searchButton"><b>Search</b></button>
    </div>
  </form>
  <form id="showAllList" method="POST" >
    <div align="center">
      <button id="showall" type="submit" class="btn btn-primary" name="showAllButton"><b>Show All</b></button>
    </div>
  </form>
</div>

<ul class="list-group list-group-flush" id="notes">
  {% for note_item in note_data | reverse %}
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header text-center" id="heading{{ note_item[5] }}">
        <h2 class="mb-0">
          <button class="btn btn-secondary text-left" type="button" data-toggle="collapse" data-target="#collapse{{note_item[5]}}" aria-expanded="true" aria-controls="collapse{{ note_item[5] }}"  {% if note_item[3] %}style="border-color: {{ note_item[3] }}"{% endif %}>
            {% if note_item[0] %}
              {% set index = loop.length - loop.index0 %} 
              <span class="index-circle">{{ index }}</span><b> {{ note_item[1] }} : {{ note_item[0][8:] }}-{{ note_item[2] }}-{{ note_item[0][:4] }}</b>
            {% else %}
              <span class="index-circle">{{ index }}</span><b>{{ note_item[1] }} - Date Not Available </b>
            {% endif %}
          </button>
        </h2>
      </div>

      <div id="collapse{{ note_item[5] }}" class="collapse" aria-labelledby="heading{{ note_item[5] }}" data-parent="#accordionExample">
        <div class="card-body">{{ note_item[4] }}</div>
      </div>
    </div>
  </div>{% endfor %}
</ul>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  function updateCurrentTime() {
      var now = new Date();
      var day = now.toLocaleDateString('en-US', { weekday: 'long' });
      var hours = now.getHours();
      var minutes = now.getMinutes();
      var ampm = hours >= 12 ? 'PM' : 'AM';

      // Convert to 12-hour format
      hours = hours % 12;
      hours = hours ? hours : 12;

      // Add leading zeros if needed
      hours = String(hours).padStart(2, '0');
      minutes = String(minutes).padStart(2, '0');

      var timeString = day + '\n' + hours + ':' + minutes + ' ' + ampm;
      var timeElement = document.getElementById("current-time-home");
      timeElement.textContent = "" + timeString;
  }

  // Update the time immediately and then refresh it every minute
  updateCurrentTime();
  setInterval(updateCurrentTime, 60000);
</script>
<script type="text/javascript">
  const mainform = document.getElementById("search-form");
  const mainList = document.getElementById("notes");
  
  mainform.onsubmit = function(event) {
    event.preventDefault();
    const searchDateInput = document.getElementById("search");
    const searchDateValue = searchDateInput.value.trim();

    if (searchDateValue === "") {
      alert("Please enter a search date.");
      return; // Abort the form submission if the search date is empty
    }
    const formData = new FormData(mainform); // Collect form data
    fetch("/searchList", {
      method: "POST",
      body: formData // Include form data in the request
    }).then(response => {
      return response.text();
    }).then(html => {
      mainList.innerHTML = html;
    });
  }
  
  const mainformAll = document.getElementById("showAllList");
  const mainListAll = document.getElementById("notes");
  
  mainformAll.onsubmit = function(event) {
    event.preventDefault();
    const formDataAll = new FormData(mainformAll); // Collect form data
    fetch("/searchAll", {
      method: "POST",
      body: formDataAll // Include form data in the request
    }).then(response => {
      return response.text();
    }).then(html => {
      console.log("Hello Hi!");
      mainListAll.innerHTML = html;
    });
  }
</script>

{% endblock %}
