{% extends "base.html" %} 
{% block title %}Home{% endblock %}
{% block content %}
<style>
    .index-circle {
      display: inline-block;
      width: 50px;
      height: 24px;
      line-height: 24px;
      text-align: center;
      border-radius: 50%;
      background-color: #353535;
      color: #fff;
      font-weight: bold;
  }
  .card-header {
    padding-top: 20px;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between;
  }
  .card-body {
    white-space: pre-wrap;
  }
  .card {
    background-color: #333;
    color: white;
    border-radius: 0px;
    width:75%;
    margin: 0 auto;
    border-color: #888;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-radius: 10px;
  }
  form {
    margin-top: 10px;
    background-color: #333;
    padding: 0px;
  }
  textarea.form-control {
    background-color: #333;
    color: white;
    width: 100%;
    margin: 0;
    padding: 20px;
    font-size: 16px;
    border: 3px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    height: 300px;
    resize: none;
    white-space: pre-wrap;

  }
</style>

<form method="POST">
  <div class="card text-white bg-dark mb-3">
    <div class="card-header">
      <div align="left">
        <button type="submit" class="btn btn-secondary" style="display: flex; justify-content: space-between;"><b>Upload</b></button>
      </div>
      <div style="font-weight: bold">
        <div class="d-flex justify-content-center w-100">
          <span class="navbar-text text-center" style="color: white; font-weight: bold;">
             <span id="current-time-home"></span>
          </span>
        </div>
      </div>
        
    </div>
    <textarea name="note" id="note" class="form-control bg-dark text-white" style="border: none;" autofocus wrap="soft" placeholder="Start writing here..."></textarea>
  </div>
</form>

<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes | reverse %}
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header text-center" id="heading{{ note.id }}">
        <h2 class="mb-0">
          <button class="btn btn-secondary text-left" type="button" data-toggle="collapse" data-target="#collapse{{ note.id }}" aria-expanded="true" aria-controls="collapse{{ note.id }}">
            {% if note.currDate %}
              {% set index = loop.length - loop.index0 %} 
              <span class="index-circle">{{ index }}</span><b> {{ note.day }} : {{ note.currDate[8:] }}-{{ note.month }}-{{ note.currDate[:4] }}</b>
            {% else %}
              <span class="index-circle">{{ index }}</span> <b>{{ note.day }} - Date Not Available </b>
            {% endif %}
          </button>
        </h2>
      </div>

      <div id="collapse{{ note.id }}" class="collapse" aria-labelledby="heading{{ note.id }}" data-parent="#accordionExample">
        <div class="card-body">{{ note.data }}</div>
      </div>
    </div>
  </div>{% endfor %}
</ul>


<script>
  function updateCurrentTime() {
      var now = new Date();
      var day = now.toLocaleDateString('en-US', { weekday: 'long' });
      var hours = now.getHours();
      var minutes = now.getMinutes();
      var ampm = hours >= 12 ? 'PM' : 'AM';

      // Convert to 12-hour format
      hours = hours % 12;
      hours = hours ? hours : 12;

      // Add leading zeros if needed
      hours = String(hours).padStart(2, '0');
      minutes = String(minutes).padStart(2, '0');

      var timeString = day + '\n' + hours + ':' + minutes + ' ' + ampm;
      var timeElement = document.getElementById("current-time-home");
      timeElement.textContent = "" + timeString;
  }

  // Update the time immediately and then refresh it every minute
  updateCurrentTime();
  setInterval(updateCurrentTime, 60000);
</script>
{% endblock %}
